/* About us */
.about-container {

  @media screen and (min-width: 768px) {
      display: flex;
    }
  
  
}

.about-list {
  @media screen and (min-width: 768px) {
      display: flex;
    }
  
}

.about-item {
  @media screen and (min-width: 768px) {
      margin-right: 30px;
    }
 
}
.about-item:last-child {
  @media screen and (min-width: 768px) {
      margin-right: 0;
    }
  
}

.about-wrapper {
  max-width: 500px;
  margin-left: auto;
  
}

.about-descr {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--main-txt--mode-light);
}
.about-img{
  @media screen and (max-width: 767px) {
      display: none;
    }
}