@import "../utils/btn-placeholder";

.main-btn {
  @extend %btn;

  @include btn-size(small);

  &--mode-light {
    color: $primary-txt--mode-light;
  }

  &--mode-dark {
    color: var(--primary-txt--mode-dark);
  }

  &:hover,
  &:focus {
    background-color: var(--accent-cl);
    border-color: var(--accent-cl);
  }
}

.secondary-btn {
  @include btn-size(large);
}


.scroll-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 90;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--accent-cl);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  // transform: scale(0);
  transition: all 0.4s ease;

  animation: circle 1.5s ease alternate-reverse infinite;

  &__icon {
    transform: rotate(-90deg);
    // fill: var(--accent-cl);
  }
}

.scroll-top--active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

@keyframes circle {
  0% {
    box-shadow: 0 0 0 0 #ff6c00;
  }

  100% {
    box-shadow: 0 0 0 20px rgba(241, 80, 21, 0.633);
  }
}