.footer {
  
  padding-top: 26px;
  padding-bottom: 26px;
  
  @media screen and (min-width: 480px) {
      padding-top: 26px;
        padding-bottom: 26px;
  
    }
  
    @media screen and (min-width: 768px) {
      padding-top: 56px;
        padding-bottom: 56px;
    }
  
    @media screen and (min-width: 1200px) {
      padding-top: 56px;
        padding-bottom: 56px;
    }
}

.footer-container {

  @media screen and (min-width: 768px) {
      display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
  
}

.footer-list {
  @media screen and (min-width: 768px) {
    display: flex;
      align-items: center;
    }
  
}

.footer-item {
  margin-right: 40px;
}

.footer-item:last-child {
  margin-right: 0;
}

.footer-copyright {
  @media screen and (max-width: 479px) {
      display: none;
      
    }
  margin-bottom: 0;
}

.contacts-row .list {
  display: flex;
  align-items: center;
}

.contacts-row .item:not(:last-child) {
  margin-right: 20px;
}

.contacts-row .link {
  display: flex;
  align-items: center;
  color: #303030;

  transition: color var(--anim-fast);
}

.contacts-row .link:hover,
.contacts-row .link:focus {
  color: #ff6c00;
}

.contacts-row .icon {
  margin-right: 10px;
  fill: currentColor;
}

.footer-img{

  max-width: 110px;
  @media screen and (min-width: 480px) {
      max-width: 200px;
  
    }
}
